<!DOCTYPE html>
<html lang="en" ng-app="myUl">
<head>
    <meta charset="UTF-8">
    <title>To Do List using Angular 1.x</title>
    <link href="src/style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="src/main.controller.js"></script>
</head>
<body>
    <div id="container" ng-controller="MainController">
        <section>
            <label>Type your wishes:
                <input type="text" ng-model="input" ng-keypress="addOnEnter($event)">
            </label>
            <button ng-click="addItem()">ADD</button>
        </section>
        <section>
            <ul class="list" ng-repeat="li in filteredWishes track by $index">
                <li ng-show="showOnCurrentPage($index)">
                    <input type="checkbox" ng-model="li.checked" ng-change="checkUncheck($index, li)">
                    <span ng-class="{completed: li.checked}">{{li.value}}</span>
                    <button ng-click="removeLi($index, li)">x</button>
                </li>
            </ul>
        </section>
        <section class="statuses">
            <button ng-click="showWishes('all')">All</button>
            <span class="counter">{{wishes.length}}</span>
            <button ng-click="showWishes(false)">Active</button>
            <span class="counter">{{(wishes | filter: {checked: false}).length }}</span>
            <button ng-click="showWishes(true)">Completed</button>
            <span class="counter">{{(wishes | filter: {checked: true}).length }}</span>
        </section>
        <section class="pages">
            <button ng-click="goToPage(currentPage - 1)">
                <
            </button>
            <button ng-repeat="page in pages track by $index" ng-click="goToPage(page)">{{page}}</button>
            <button ng-click="goToPage(currentPage + 1)">
                >
            </button>
        </section>
    </div>
</body>
</html>
